<%= render "layouts/nav_bar.html.erb" %>
<div class="contact-container">
  <div class="c-section">
    <div class="c-icon">
      <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
    </div>
    <div class="c-title">
      ADDRESS
    </div>
    <div class="c-content">
      14025 West Road, Houston TX, 77095
    </div>
  </div>
  <div class="c-section">
    <div class="c-icon">
      <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
    </div>
    <div class="c-title">
      PHONE
    </div>
    <div class="c-content">
      (832) 277-6945
    </div>
  </div>
  <div class="c-section">
    <div class="c-icon">
      <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
    </div>
    <div class="c-title">
      E-MAIL
    </div>
    <div class="c-content">
      nirconrd@gmail.com</br>
      zakinircon@gmail.com
    </div>
  </div>
</div>
<%= render "layouts/footer.html.erb" %>
