<%= render 'layouts/nav_bar.html.erb' %>
<div class="shipping-info-title">
SHIPPING INFO
</div>
<div class="shipping-info-desc">
  • Shipping is available to the contiguous 48 states and D.C. (support for Alaska and Hawaii coming soon).
</br>• Shipping to construction sites is allowed provided the construction site has a valid US address and can be accessed by delivery personnel.
  </br>• Please allow processing and handling time of 2-3 business days after placing your order to receive tracking information.
</br>• If expedited shipping is necessary contact us at (281) 583 7088 .
</div>
<%= render 'layouts/footer.html.erb' %>
