<%= render 'layouts/nav_bar.html.erb' %>
<div class="shipping-info-title">
SHIPPING INFO
</div>
<div class="shipping-info-desc">
  &bull; Shipping is valid to all domestic areas in the United States.
</br>&bull; Shipping is valid to construction sites.
  </br>&bull; Shipping and handling will take approximately 5-7 business days.
</br>&bull; If expedited shipping is necessary contact us at 832-483-2131.
</div>
<%= render 'layouts/footer.html.erb' %>
