.home-container {
  width: 100%;
  position: relative;
}
.home-background {
  width: 100%;
}
.custom-order {
  height:56px;
  line-height: 56px;
  width:100%;
  padding-left: 20px;
  padding-right: 20px;
}

// GRID
.business-facts {
  display:flex;
  padding:130px 50px;
  justify-content: center;
  align-items: center;
}

.grid {
  width:50%;
  display:flex;
  flex-direction: column;
}

.layer {
  display:flex;
  width:90%;
  margin-bottom:50px;
}
.layer-content {
  display:flex;
  flex-direction: column;
}
.layer-title {
  font-family:'Open Sans', sans-serif; font-weight:400;
  font-size: 25px;
  color:#333;
  margin-bottom:20px;
  letter-spacing: 2px;
}

.layer-text {
  font-family: 'Open Sans', sans-serif; font-weight:300;
  font-size: 17px;
  color:#333;
}

.layer-icon {
  background-color: #f1c40f;
  width:100px;
  border:1px solid #f1c40f;
  border-radius: 100px;
  height:80px;
  text-align: center;
  line-height: 80px;
  margin-right:20px;
}

.layer-icon i {
  color:#333;
  font-weight: 100;
}

/* IMAGE SLIDER */
.automatic-slider img {
  width: 100%;
}
.automatic-slider {
  width: 100%;
}
.unslider {
  width: 100%;
}
.unslider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.unslider-nav {
  display: none;
}

.unslider li {
  background-color: white;
}
// IMG TEXT HOME
.home-title {
  font-size:50px;
  font-family: 'Raleway', sans-serif; font-weight:800;
  text-align: center;
  letter-spacing: 2px;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  color: white;
  margin: 0;
}

.home-subtitle {
  font-size: 40px;
  font-family: 'Open Sans', sans-serif; font-weight:400;
  text-align: center;
  position: absolute;
  top:40%;
  left:0;
  right:0;
  color:#3498db;
  margin:0px;
}

.title-about {
  border:2px solid #f1c40f;
  border-radius:30px;
  height:50px;
  font-size: 15px;
  color:#f1c40f;
  text-decoration: none;
  font-family: 'Raleway', sans-serif; font-weight:600;
  padding:20px;

}

.title-about:hover {
  background-color: #FFF;
  border:#FFF;

}

// ABOUT
.about-container {
  display:flex;
  background-color: #EEEEEE;
  height:80vh;
}

.about-image {
  width:50%;
  height:80vh;
}

.about {
  padding:86px 35px;
  width:50%;
  color:#333;

}

.about-title {
  font-family: 'Open Sans', sans-serif; font-weight:800;
  font-size: 50px;
  margin-bottom:25px;
  letter-spacing: 2px;
}

.about-info {
  font-family: 'Open Sans', sans-serif; font-weight:300;
  font-size: 1.2vw;
  margin-bottom:30px;
  text-align: justify;
  line-height: 27px;
}

.shop-now {
  padding:20px 10px;
  font-family: 'Open Sans', sans-serif; font-weight:600;
  letter-spacing: 4px;
  background-color: #f1c40f;
  text-align: center;
  width:150px;
  text-decoration: none;
  color:#333;
  border:2px solid #f1c40f;

}

.shop-now:hover {
  border:2px solid #f1c40f;
  background-color: #EEE;
  color: #f1c40f;
}

// contact
.contact-container {
  display:flex;
  padding:120px 70px;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #EEE;
}

.c-section {
  width:33%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-icon {
  color:#f1c40f;
  border:2px solid #f1c40f;
  width:100px;
  border-radius:50%;
  height:100px;
  line-height: 115px;
  text-align: center;
  margin-bottom:25px;
}
.c-title {
  font-family: 'Open Sans', sans-serif; font-weight:600;
  color:#333;
  font-size: 35px;
  text-align: center;
  margin-bottom:25px;

}

.c-content {
  font-family: 'Open Sans', sans-serif; font-weight:300;
  color: #333;
  font-size: 20px;
}
