// START
#payment-form {
  padding-left: 60px;
}

// RECEIPT
.receipt-container {
}

.receipt-header {
  font-family: San Francisco;
  text-align: center;
  margin: 30px 0px 50px 0px;
  font-family: 40px;
}
