.custom-order-container {
  background-color: white;
  display:flex;
  flex-direction: column;
  padding:100px 50px 0px 50px;
}

.custom-order-container p {
  font-family: 'Open Sans', sans-serif; font-weight:400;
  font-size: 22px;
  margin:0px;
  color:#333;
  margin-bottom: 8px;
}

.custom-order-title {
  font-size: 100px;
  color:#333;
  font-family: 'Open Sans', sans-serif; font-weight:300;
  text-align: center;
  letter-spacing: 5px;
}

.custom-order-info {
  font-size: 15px;
  color:#333;
  font-family: 'Open Sans', sans-serif; font-weight:300;
  margin-bottom: 20px;
}

.custom-order-container input {

  font-family: 'Open Sans', sans-serif; font-weight:400;
  color:#333;
  font-size: 25px;
}


.custom-order-container form {
  width:60%
}

.custom-order-mailer {
  display:flex;
  padding-top: 40px;
}


#message_file {
  border:none;
  font-size:15px;
  padding:10px 0;
}
.custom-order-send {
  border-radius: 5px;
  width:656px;
  text-align: center;
  background-color: #333;
  color:white;
  letter-spacing: 7px;
  font-family: 'Open Sans',sans-serif;
  font-weight: 600;
  border:1px solid #333;
}



.custom-order-send:hover {
  background-color: #333;
  color:white;
  border:1px solid #333;
}

.custom-order-upload {
  font-family: 'Open Sans', sans-serif; font-weight:600;
}

.custom-order-other {
  display:flex;
  font-family: 'Open Sans', sans-serif; font-weight:300;
  flex-direction: column;
}

.other-contact {
  display:flex;
  flex-direction: column;
  margin-bottom: 30px;
}


.other-title {
  font-size: 35px;
}
.custom-desc {
  font-size:18px;
  line-height: 30px;
}


.custom-order-top {
  display:flex;
  justify-content: space-between;;
  align-items: center;
  padding:1% 5% 0 0;
}

.custom-order-submit {
  display:flex;
  padding:1% 5% 0 0;
}

.custom-order-submit input{
  width:100%;
  border-radius: 5px;
  text-align: center;
  background-color: #333;
  color:white;
  letter-spacing: 7px;
  font-family: 'Open Sans',sans-serif;
  font-weight: 600;
  border:2px solid #333;
}

.custom-order-submit input:hover {
  background-color: white;
  border:2px solid #333;
  color:#333;
}

.custom-order-middle {
  display:flex;
  flex-direction: column;
  justify-content: space-between;;
  padding:1% 5% 0 0;
}
.custom-order-container textarea {
  font-family: 'Open Sans', sans-serif; font-weight:400;
  border-radius: 5px;
  font-size: 20px;
  width:100%;
  height:250px;
  color:#333;
  border:2px solid #333;
  margin:0px;
  padding:10px;
}
.custom-message-top {
width:47%;
font-style: 25px;
font-family: 'Open Sans', sans-serif; font-weight:400;
}

.message-field {
  padding:10px 5px;
   border: 2px solid #333;
  font-size: 25px;
  height:100%;
  border-radius: 5px;
  padding:10px 5px;
  width: 100%;
}

.subject-dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
   border: 2px solid #333;
  background: transparent;
  width: 100%;
  font-size: 25px;
  background: image-url(#{'down-arrow.png'}) 96% / 5% no-repeat white;
  height:100%;
  border-radius: 5px;
  padding:10px 5px;
  text-align: center;
}
