.orders-container {
  padding-top:100px;
  background-color: #7f8c8d;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom:50px;
}

.orders-title {
  font-size: 100px;
  color:#333;
  font-family: 'Open Sans', sans-serif; font-weight:300;
  text-align: center;
  letter-spacing: 5px;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  padding-bottom: 20px;
}
.orders-table {
  margin-top:80px;
}

.orders-table table {
  width:100%;
}

.orders-table tbody {
  border-top:2px solid #333;
}
.orders-table th,td{
  color:#333;
  font-family: 'Open Sans', sans-serif; font-weight:300;
  font-size:20px;
  border-right:1px solid #333;
  text-align: center;
}

.orders-view-container {
  color:#333;
  font-family: 'Open Sans', sans-serif; font-weight:300;
  font-size:20px;
  padding-left: 30%;
  padding-right: 30%;

}


.orders-view-container {
  margin-top:80px;
}

.orders-items {
  color:#333;

  font-family: 'Open Sans', sans-serif; font-weight:300;

  font-size:30px;



}
