.orders-container {
  padding-top:100px;
  background-color: #7f8c8d;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom:50px;
}

.orders-title {
  font-size: 100px;
  color:white;
  font-family: 'Open Sans', sans-serif; font-weight:300;
  text-align: center;
  letter-spacing: 5px;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  padding-bottom: 20px;
}


// .orders-container table,th,td {
//   font-family: 'Open Sans', sans-serif; font-weight:300;
//   color:white;
// }
//
// .orders-container table {
//   width:100%;
//   text-align: center;
// }
//
// .orders-container tr {
//   margin-bottom: 5px;
// }
// .order-id-link {
//   color:white;
// }
//
// .order-id-link:hover {
//   color:black;
// }
//
//
// .checkout-table table {
//   color:black;
// }
