// PRODUCTS INDEX
.index-title-block {
  display:flex;
  background-color: #EEE;
  justify-content: center;
}
.i-image {
  padding:140px 0 40px 40px;
  background-color: #EEE;
  width:50%
}
.index-title-image {
  width:100%;
}

.i-container {
  width:50%;
  padding:140px 100px 40px 40px;
}

.index-title {
  font-family: Raleway ExtraBold;
  font-size:40px;
  letter-spacing: 2px;
  color:#333;
}
.index-subtitle {
  font-family: Raleway ExtraBold;
  font-size:30px;
  letter-spacing: 2px;
  color:#333;
}

.index-desc {
  font-family: Raleway Light;
  font-size: 20px;
  text-align: justify;
  margin-bottom:50px;
  line-height: 40px;
}

.product-container {
  display:flex;
  flex-wrap: wrap;
  margin-top:100px;
  padding:0px 10px;
  justify-content: center;
}
.embed-index-item {
  width:25%;
  margin:0px 20px;
  padding:20px;

}

.embed-index-item a {
  text-decoration: none;

}
.image-container{
  height:60%;
}
.embed_picture {
  width:100%;
}

.embed_picture:hover {
opacity:0.5;
}

.product-index-price {
  color:#f1c40f;
  font-family:San Francisco Light;
  font-size: 23px;
  margin-bottom:10px;
}

.product-name {
  font-family: San Francisco Regular;
  font-size: 23px;
  margin-bottom:10px;
  letter-spacing: 1px;
  color:#333;
}

.product-name:hover {
  color:#f1c40f;
}



.product-sub {
  color: #7f8c8d;
  font-family: San Francisco Regular;
}

// PANELS

.panels {
  display:flex;
  padding:100px 120px;
  background-color: #f1c40f;
  margin-bottom:20px;
}

.area {
  width:33%;
  display:flex;
  flex-direction: column;
}

.p-name {
  font-family: San Francisco Regular;
  font-size: 25px;
  letter-spacing: 1px;
  color:#333;
  text-align: center;
}

.p-icon i {
  color:#333;
}

.p-icon {
  text-align: center;
  margin-bottom:50px;
}


// PRODUCT VIEW
// header
.view-header {
  position:relative;
  margin-top:50px;
}
.view-title {
  position:absolute;
  left:40%;
  top:40%;
  color:white;
  font-family: San Francisco Heavy;
  font-size: 40px;
}

.view-header img {
  width:100%;
}
.product-view-picture {
  width:40%;

height:100%;}

.product-view {
  padding-top:100px;
  display:flex;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom:80px;
}

.product-view-info {
  width:40%;
  font-family: San Francisco Light;
  color: #f1c40f;
  height:100%;
}

.product-view-name {
  margin:0 0 10px 20px;
  color:#222;
  font-family: San Francisco;
  font-size: 40px;
  border:0px;
  padding:0px;
}
.product-name-sub {
  color: gray;
  font-family: San Francisco;
  font-style: italic;
  font-size: 15px;
  border:0px;
  padding:0px;
  margin:0 0 20px 20px;
}

.product-price {
  color:#f1c40f;
  font-family: San Francisco;
  margin:0 0 20px 20px;
  font-size: 30px;
  border-bottom: 1px solid #EEEEEE;
}

.product-info {
  width:95%;
  color:#222;
  margin:0 0 20px 20px;
  padding:10px;

}

.product-dimensions-head {
  text-align: center;
  margin:0 0 10px 0px;
  font-family: Raleway Regular;
  font-size: 20px;
  margin-bottom: 20px;
}
.product-dimensions {
  margin:0px;
  font-size: 20px;
  font-family: Raleway Light;

}

.product-drawing {
  color:#222;
  margin-top: 10px;
  font-size: 17px;
  font-family: San Francisco Regular;
  text-align: center;
}


.product-drawing:hover {
  color:blue;
}


.add-to-cart {
  background-color: white;
  color:#333;
  padding:10px 20px 10px 20px;
  width:200px;
  border-radius: 3px;
  border:1px solid #333;
  font-size: 18px;
  margin-left: 10px;
  text-align: center;
}

.add-to-cart:hover {
  background-color: #333;
  border:1px solid #333;
  color:white;
}

.quantity {
  color:#222;
  text-align: center;
  font-family: San Francisco;
  font-size: 20px;
}

.quantity-dropdown {
  width:70px;
  border:1px solid #EEE;
  background-color: white;
  font-family: San Francisco Light;
  border-radius: 3px;
  font-size: 20px;
  text-align: center;
}

.new_order_item {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-container {
  display:flex;
}

.pdf-embed {
  width:100%;
  height:100vh;
}

// EMBED VIEW FEATURE PRODUCTS

.feature-container {
  display:flex;
  flex-direction: column;
  background-color: #EEE;
  padding:80px 60px;
}

.feature-products {
  font-family: San Francisco Heavy;
  font-size: 40px;
  margin-bottom:60px;
  text-align: center;
  letter-spacing: 3px;
}
.extras-container {
  display:flex;
  justify-content: center;
  align-items: center;
}

.e-block {
  width:30%;
  margin:5px;
}
.e-block a {
  display:flex;
  flex-direction: column;
  text-decoration: none;
}
.e-image {
  width:100%;
}

.e-image:hover {
  opacity:0.8;
}

.e-description {
  display:flex;
  flex-direction: column;
  background-color: white;
  padding:10px;
}

.e-name {
  font-family: San Francisco Regular;
  color:#333;
  font-size: 20px;
  margin-bottom:10px;
}

.e-price {
  font-family: San Francisco Regular;
  color:#f1c40f;
  font-size: 20px;
}
