
.sign-up-container {
  background-color: white;
  height:90vh;
  padding-top: 100px;
}

.sign-in-container {
  background-color: white;
  height:100vh;
  padding-top: 100px;
}

.user-title {
  font-family: 'Open Sans', sans-serif; font-weight:300;
  text-align: center;
  font-size: 100px;
  color:#333;
  letter-spacing: 10px;
}

.user-field {
  color: #333;
  text-align: center;
  font-family: 'Open Sans', sans-serif; font-weight:300;
  font-size: 30px;
}

.user-field-submit {
  color: #333;
  text-align: center;
  font-family: 'Open Sans', sans-serif; font-weight:300;
  font-size: 30px;
}

.user-field-submit input {
  border: 1px solid #333;
  border-radius: 3px;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  width:100%;
  max-width: 500px;
  background-color: white;
  color:#333;
}


.user-field-submit input:hover {
  color:white;
  background-color: #333;
  border:1px solid #333;
}
.user-checkbox {
  color:#333;
  font-family: 'Open Sans', sans-serif; font-weight:300;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.user-field input {
border: 1px solid #333;
border-radius: 3px;
font-size: 25px;
margin-top: 15px;
margin-bottom: 15px;
width:100%;
max-width: 500px;
background-color: white;
color:#333;
}
.user-field-option {
  color: #333;
  text-align: center;
  font-family: 'Open Sans', sans-serif; font-weight:300;
  font-size: 20px;
  margin-top: 20px;
}
.user-field-option a{
  color: #333;
  text-align: center;
  font-family: 'Open Sans', sans-serif; font-weight:300;
  font-size:20px;
  text-decoration: none;
}
