<div class="product-container">
  <% @products.slice(28,30).each do |product|%>
  <div class="embed-index-item">
    <%= link_to "/products/beams/#{product.id}" do %>
    <div class="image-container">
      <%= image_tag "#{product.img_file}.jpg", {:class => "chair_picture"}%>
    </div>
    <p class="product-name"><%= product.name %> </p>
    <p class="product-sub">
    <%= product.info_1 %></p>
    <%end%>
  </div>

  <%end%>
</div>
