<%= render 'layouts/nav_bar.html.erb' %>
<div class="" style="font-size:80px;font-family:'Open Sans', sans-serif;margin-top:130px;text-align:center">
  TIGER BEAMS</br> COMING SOON

</div>
<%= render 'layouts/footer.html.erb' %>
