<%= render '/layouts/nav_bar.html.erb'%>


<div class="product-index-container" style="margin-top:200px;">



    <% flash.each do |name,msg| %>
    <%= content_tag :div, msg, :id => "flash", class: 'flash-message' %>
    <%end%>




    <%= render(
      partial: 'products/list',
      locals: {products: @products }
    ) %>
</div>

<div class="panels">
<div class="area">
  <div class="p-icon">
    <i class="fa fa-trophy fa-3x" aria-hidden="true"></i>
  </div>
<div class="p-name">
QUALITY GUARANTEED
</div>


</div>
<div class="area">
  <div class="p-icon">
    <i class="fa fa-bus fa-3x" aria-hidden="true"></i>
  </div>
<div class="p-name">
ON SITE DELIVERY
</div>


</div>
<div class="area">
  <div class="p-icon">
    <i class="fa fa-lock fa-3x" aria-hidden="true"></i>
  </div>
<div class="p-name">
SECURE PAYMENT
</div>


</div>
</div>

<%= render '/layouts/footer.html.erb'%>
