
<div class="footer-alt-2">

<div class="footer-left">

  <div class="footer-logo">
    [NIRVANA CON]
  </div>

  <div class="copyright">
    © Copyright 2016 by Nirvana Construction. All Rights Reserved</br>
    <%= link_to "CONTACT US", contact_path , class:'contact-footer' %>

  </div>

</div>

<div class="footer-right">
  <i class="fa fa-cc-mastercard fa-3x" aria-hidden="true"></i>
  <i class="fa fa-cc-visa fa-3x" aria-hidden="true"></i>
  <i class="fa fa-cc-discover fa-3x" aria-hidden="true"></i>
  <i class="fa fa-cc-amex fa-3x" aria-hidden="true"></i>
</div>
</div>
