<div class="footer">

  <div class="footer-logo">
    NIRVANA CON
  </div>
  <div class="social">
<i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
<i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
<i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
  </div>
  <div class="social">
    <i class="fa fa-cc-mastercard fa-2x" aria-hidden="true"></i>
    <i class="fa fa-cc-visa fa-2x" aria-hidden="true"></i>
    <i class="fa fa-cc-discover fa-2x" aria-hidden="true"></i>
    <i class="fa fa-cc-amex fa-2x" aria-hidden="true"></i>
  </div>
  <div class="copyright">
    Copyright ©  2016 by Nirvana Construction. All Rights Reserved</br>
  </div>

</div>
