<div class="footer">

  <div class="footer-logo">
    <%= image_tag "logo.jpg" %>
  </div>

  <div class="social">
    <i class="fa fa-cc-mastercard fa-2x" aria-hidden="true"></i>
    <i class="fa fa-cc-visa fa-2x" aria-hidden="true"></i>
    <i class="fa fa-cc-discover fa-2x" aria-hidden="true"></i>
    <i class="fa fa-cc-amex fa-2x" aria-hidden="true"></i>
  </div>
  <div class="copyright">
    Copyright ©  2016 by Nirvana Construction. All Rights Reserved</br> <%= link_to "Contact Us", contact_path, class:"contact-footer-link"%>
     <%= link_to "Shipping Info", shipping_info_path, class:"contact-footer-link"%>
  </div>

</div>
