<!DOCTYPE html>
<html>
<head>
  <title>Nirvana Construction Standardized Parts</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet"> 
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript" src=" https://checkout.stripe.com/checkout.js"></script>
  <script type="text/javascript">
    Stripe.setPublishableKey('pk_live_JcBfnty8T16X7StsmKRGP4Wb');
  </script>

</head>
<body>
  <!--  NAV-->

<%= yield %>

</body>
<script type="text/javascript">
$(window).load(function() {
  $(".loader").fadeOut("slow");
})
</script>

<script type="text/javascript">
$(document).ready(function () {
  setTimeout(function () {
    $('#flash').remove();
  }, 2500);
})
</script>


</html>
