<!DOCTYPE html>
<html>
<head>
  <title>Nirvana Construction Products</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600,800" rel="stylesheet">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-84497632-1', 'auto');
    ga('send', 'pageview');

  </script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript" src=" https://checkout.stripe.com/checkout.js"></script>
  <script type="text/javascript">
    Stripe.setPublishableKey('pk_live_JcBfnty8T16X7StsmKRGP4Wb');
  </script>
  <script type="text/javascript">
  $(window).ready(function() {
  	$(".loader").delay(1000).hide(0);
  })
  </script>
</head>
<body>

  <!--  NAV-->
  <div class="loader">
  </div>
<%= yield %>

</body>

<script type="text/javascript">
$(document).ready(function () {
  setTimeout(function () {
    $('#flash').remove();
  }, 2500);

})
</script>




</html>
